<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
    <application
		tools:replace="android:label"
        android:label="Chance"
        android:icon="@mipmap/ic_launcher"
        android:allowNativeHeapPointerTagging="false"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        android:enableOnBackInvokedCallback="true">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_clover" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:resizeableActivity="true"
            android:exported="true">
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <!-- 1500chan -->
               <data android:scheme="https" android:host="1500chan.org"/>
               <!-- 2chan -->
               <data android:scheme="https" android:host="*.2chan.net"/>
               <!-- 4chan -->
               <data android:scheme="https" android:host="boards.4chan.org"/>
               <data android:scheme="https" android:host="archive.4plebs.org"/>
               <data android:scheme="https" android:host="archive.palanq.win"/>
               <data android:scheme="https" android:host="desuarchive.org"/>
               <data android:scheme="https" android:host="boards.fireden.net"/>
               <data android:scheme="https" android:host="archived.moe"/>
               <data android:scheme="https" android:host="arch.b4k.co"/>
               <data android:scheme="https" android:host="arch.b4k.dev"/>
               <data android:scheme="https" android:host="thebarchive.com"/>
               <data android:scheme="https" android:host="archiveofsins.com"/>
               <data android:scheme="https" android:host="warosu.org"/>
               <!-- 76chan -->
               <data android:scheme="https" android:host="76chan.org"/>
               <!-- 8chan -->
               <data android:scheme="https" android:host="8chan.moe"/>
               <data android:scheme="https" android:host="8chan.se"/>
               <data android:scheme="https" android:host="8chan.st"/>
               <!-- 8kun -->
               <data android:scheme="https" android:host="8kun.top"/>
               <!-- 9ch -->
               <data android:scheme="https" android:host="9ch.site"/>
               <!-- alogsspace -->
               <data android:scheme="https" android:host="alogs.space"/>
               <!-- crbachan -->
               <data android:scheme="https" android:host="ib.crba.dedyn.io"/>
               <!-- dcurbanmom -->
               <data android:scheme="https" android:host="dcurbanmom.com"/>
               <!-- dvach -->
               <data android:scheme="https" android:host="2ch.hk"/>
               <data android:scheme="https" android:host="2ch.su"/>
               <!-- endchan -->
               <data android:scheme="https" android:host="endchan.org"/>
               <!-- erischan -->
               <data android:scheme="https" android:host="erischan.org"/>
               <!-- frenschan -->
               <data android:scheme="https" android:host="frenschan.org"/>
               <!-- hackernews -->
               <data android:scheme="https" android:host="news.ycombinator.com"/>
               <!-- holotower -->
               <data android:scheme="https" android:host="holotower.org"/>
               <!-- ign -->
               <data android:scheme="https" android:host="www.ignboards.com"/>
               <!-- karachan -->
               <data android:scheme="https" android:host="karachan.org"/>
               <!-- kissu -->
               <data android:scheme="https" android:host="original.kissu.moe"/>
               <!-- kiwifarms -->
               <data android:scheme="https" android:host="kiwifarms.st"/>
               <!-- kohlchan -->
               <data android:scheme="https" android:host="kohlchan.net"/>
               <data android:scheme="https" android:host="kohlchan.top"/>
               <!-- krautchan -->
               <data android:scheme="https" android:host="krautchan.org"/>
               <!-- lainchan  -->
               <data android:scheme="https" android:host="lainchan.org"/>
               <!-- leftypol  -->
               <data android:scheme="https" android:host="leftypol.org"/>
               <!-- looksmax -->
               <data android:scheme="https" android:host="looksmax.org"/>
               <!-- macrumors -->
               <data android:scheme="https" android:host="forums.macrumors.com"/>
               <!-- mintboard -->
               <data android:scheme="https" android:host="mintboard.org"/>
               <!-- ourchan -->
               <data android:scheme="https" android:host="ourchan.org"/>
               <!-- ptchan -->
               <data android:scheme="https" android:host="ptchan.org"/>
               <!-- reddit -->
               <data android:scheme="https" android:host="reddit.com"/>
               <data android:scheme="https" android:host="*.reddit.com"/>
               <data android:scheme="https" android:host="reddit.app.link"/>
               <!-- soyjak -->
               <data android:scheme="https" android:host="soyjak.st"/>
               <data android:scheme="https" android:host="*.soyjak.st"/>
               <!-- thecoli -->
               <data android:scheme="https" android:host="thecoli.com"/>
               <!-- trashchan -->
               <data android:scheme="https" android:host="trashchan.xyz"/>
               <!-- tvchan -->
               <data android:scheme="https" android:host="tvch.moe"/>
               <!-- uboachan -->
               <data android:scheme="https" android:host="uboachan.net"/>
               <!-- urbantoronto -->
               <data android:scheme="https" android:host="urbantoronto.ca"/>
               <!-- wizchan -->
               <data android:scheme="https" android:host="wizchan.org"/>
               <!-- voidchan -->
               <data android:scheme="https" android:host="voidchan.net"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="chance" />
            </intent-filter>
        </activity>
        <receiver android:enabled="true"  android:name=".EmbeddedDistributor" android:exported="false">
            <intent-filter>
                <action android:name="org.unifiedpush.android.distributor.feature.BYTES_MESSAGE"/>
                <action android:name="org.unifiedpush.android.distributor.REGISTER"/>
                <action android:name="org.unifiedpush.android.distributor.UNREGISTER"/>
            </intent-filter>
        </receiver>
        <!-- for android N and below -->
        <receiver android:name=".ConnectivityBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>
</manifest>
