<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500583514678-mkce6tt2g3cjf59bblmh3ih30i9rp58r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500583514678-mkce6tt2g3cjf59bblmh3ih30i9rp58r</string>
	<key>API_KEY</key>
	<string>AIzaSyDezXK1OIMB5e2fhFrchPaDL_bs2fFcIVk</string>
	<key>GCM_SENDER_ID</key>
	<string>500583514678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moffatman.chan</string>
	<key>PROJECT_ID</key>
	<string>chan-329813</string>
	<key>STORAGE_BUCKET</key>
	<string>chan-329813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500583514678:ios:1f50bb1c217f7c6f018e97</string>
</dict>
</plist>